<p><a href="/answer/<%= results[:url_key] %>"><img src="<%= results[:image] %>" class="img-fluid"></a></p>
<a class="btn-social" href="/"><span class="btn btn-primary btn-lg"><i class="fa-twitter fa">つぶやく</i></span></a>