<p><a href="/top/show/<%= results[:url_key] %>">
    <img src="<%= results[:image] %>" class="img-fluid"></a></p>
<%
url = URI.encode('https://twitter.com/share?url=https://rensow.site/top/show/')
url << results[:url_key]
url << "&hashtags=連想ゲーム,RENSOW"
%>
<p><a class="btn-social" rel="nofollow" target="_blank" href="<%= url %>">
    <span class="btn btn-primary btn-lg"><i class="fa-twitter fa">つぶやく</i></span>
    </a></p>