// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#request_create_image {
    text-align: center;
}
div#created_image {
    text-align: center;
    padding-top: 20px;
}
div.button {
    padding-top: 10px;
}