<footer class="fdb-block fp-active" data-block-type="contents" data-is="footer" draggable="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <p class="text-h3">当サイトはリンクフリーです。</p>
        <p class="text-h3">生成されたテキスト・画像の著作権等諸権利は全て当システム制作者にあります。</p>
        <p class="text-h3">© 2017-2018 Asfors</p>
      </div>
    </div>
  </div>
</footer>