<header class="fdb-block" data-block-type="contents" data-is="header" draggable="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1>Asfors - 連想ゲーム -</span></h1>
        <span>おもむろにマジカルバ〇ナをはじめてみてください☆彡</span>
      </div>
    </div>
  </div>
</header>